@if (Contact != null)
{
    <div class="d-flex flex-column align-center">
        <MudPaper Class="d-flex flex-column align-center">
            <MudText Typo="Typo.h3" Align="@Align.Center">@Contact.FirstName @Contact.LastName</MudText>
            <MudText Typo="Typo.body1" Align="@Align.Center">@Contact.Birthdate?.ToShortDateString()</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="@($"/contacts/{Contact.Identifier}")">Afficher</MudButton>
        </MudPaper>
    </div>
}