@page "/"
@inject ContactsDataService ContactsDataService

<PageTitle>Accueil</PageTitle>

<MudContainer Fixed="true">
    <MudText Typo="Typo.h2">Accueil</MudText>
    <MudText Typo="Typo.body1">Bienvenue sur MudContacts !</MudText>

    <MudText Typo="Typo.h2">C'est bientôt l'anniversaire de...</MudText>

    <MudCarousel ItemsSource="ContactsDataService.GetNextBirthdateContacts()" Style="height:200px;" ShowArrows ShowBullets EnableSwipeGesture AutoCycle>
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudText Typo="Typo.h3" Align="@Align.Center" Class="mx-auto">@context.FirstName @context.LastName</MudText>
                <MudText Typo="Typo.body1" Align="@Align.Center" Class="mx-auto">@context.Birthdate?.ToShortDateString()</MudText>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="@($"/contacts/{context.Identifier}")">Afficher</MudButton>
            </div>
        </ItemTemplate>
    </MudCarousel>



</MudContainer>
